[2019-04-18 21:18] rocahe opened #2 "add an ELF 32 support"
I just noticed that the ELF-reader only accepts ELF-64 binary. Could you please add an ELF 32 support? Thanks.

[2019-04-18 21:54] rocahe commented on #2
BTW, does the current version only support  X86_64 ELF binary? Is it possible to support ARM/MIPS binaries?

[2019-04-22 12:59] aeflores commented on #2
You are right, ddisasm only supports ELF X86_64 binaries at the moment. Currently we do not have plans to extend to other ISAs or file formats.  Our near-term priority is on maximizing the robustness and
speed of the disassembler before we worry about generalization.

[2019-05-13 16:54] mewmew opened #3 "Broken link to "Control Flow Integrity for COTS Binaries" paper"
The link to http://www.stonecat.com/repos/reading/papers/12313-sec13-paper_zhang.pdf results in a 404 error page.

[2019-05-13 17:00] mewmew commented on #3
Similarly, the [link](http://delivery.acm.org/10.1145/2940000/2931047/p24-meng.pdf?ip=98.159.213.242&id=2931047&acc=CHORUS&key=4D4702B0C3E38B35%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35%2E6D218144511F3437&__acm__=1539001930_dedfe0a1aa0c9bf006dbe0874ff74722) to the "Binary Code is Not Easy" paper results the the following error message:

[code]

[2019-05-17 13:54] aeflores commented on #3
Thanks! they should be working now

[2019-05-17 13:54] #3 closed

[2019-06-17 10:19] Kyle-Kyle opened #5 "typo in README"
The paper is called `Ramblr: Making reassembly great again` not `Ramblr: Making disassembly great again`

[2019-06-21 17:55] aditi-gupta opened #6 "DDisasm fails to build due to souffle error"
**OS:** Ubuntu 16.04
**Capstone version:** 4.0.1
**Souffle version:** 1.5.1
**Issue:** In `ddisasm/build` directory, running `make` produces error:
[code]

[2019-06-21 21:18] Roadsong commented on #6
Same error here... Any help will be appreciated!

[2019-06-22 00:19] bin2415 commented on #6
I met same error too. And I comment the conflict lines and it can compile...

[2019-06-25 12:20] aeflores commented on #5
Thanks for the correction! This is fixed now

[2019-06-25 12:20] #5 closed

[2019-06-25 13:15] aeflores commented on #6
I can't reproduce this issue. My souffle_disasm.cpp file seems to be different. Would you mind sharing yours?

[2019-06-25 21:06] Roadsong commented on #6
I finally got it.

The current unstable version of soufflé might have some bugs.
@aditi-gupta @bin2415 I think you just cloned the repo, right?
[code]
 And you will find that there is no option named ```--disable-provenance``` since it has been replaced by
```--disable--ncurses```. See [commit history](https://github.com/souffle-lang/souffle/commit/49c712331238ee4c771edbd6f9551d8ed0143c80#diff-67e

[2019-06-25 21:32] aeflores commented on #6
@Roadsong thanks for following up!
Indeed, we use the last stable version of Souffle (1.5.1). I have updated the README.md with detailed installation instructions for souffle. Hopefully this solves the issue.

[2019-06-26 17:41] #6 closed

[2020-05-28 00:44] ceesb opened #9 "My clang / gcc binaries fail disassembly"
I'm experimenting with C code that has a large data segment and relatively little code. I'm happy to share the binaries with you, but I prefer not to post them publicly. If you want them, send me a ping, and I can email them. Hope this helps!

# Issue 1, for gcc binaries (-O2 or not) ddisasm hangs

If I compile with gcc (Ubuntu 7.5.0-3ubuntu1~18.04), ddisasm will hang in the disassembling phase (w

[2020-05-28 13:32] aeflores commented on #9
Hi @ceesb, thanks for trying ddisasm! It will be much easier for me to diagnose the problems if I have access to the binaries. Email will work.

- Issue 1 might be a performance issue, but it is hard to know without trying myself.
- Issue 2: One thing to consider is whether the disassembled binary is PIE or not. Have you tried reassembling with the flag `-no-pie`? I think in Ubuntu18 gcc generates

[2020-05-28 15:55] ceesb commented on #9
Thanks for the reply!

Indeed issue 2 disappears with `-no-pie`. When I add `-no-pie` for issue 3 I'm left with undefined refs. I'll mail you the bins for issue 1 and 3.

[2020-06-01 13:27] aeflores commented on #9
Hi @ceesb, issue 1 is a performance issue. It is a combination of a relatively large data section with the fact that there are few data accesses detected. That Datalog rule that you pointed out is behaving very badly. Fortunately, I have a fix almost ready! I will let you know once it makes its way to master.

I can't reproduce issue 3 with the last ddisasm version (commit 39c696e), is it possible

[2020-06-01 14:37] aeflores commented on #9
Alright, https://github.com/GrammaTech/ddisasm/commit/07793370907bbc41df2d3c223683ad3b22e9ec81 should fix issue 1!

[2020-06-01 18:32] ceesb commented on #9
Nice! Indeed I see issue 1 is solved. Can you tell me what was the key difference between the gcc binary that caused the hang and the clang binary that didn't?

Issue 3 is still open for 07793370907bbc41df2d3c223683ad3b22e9ec81 as pasted below; maybe I'm linking to an older dependency when building ddisasm?
[code]

[2020-06-01 21:43] aeflores commented on #9
Regarding the difference between gcc and clang. It has to do with the specific patterns in which data is accessed. You can get an idea, if you generate assembly files with the `--debug` option. That will print assembly with extra annotations (this assembly won't be reassembleable but it is useful for understanding). In the gcc binary, ddisasm detects a few access patterns  (e.g. at address `L_3600

[2020-06-01 21:45] aeflores commented on #9
Regarding issue 3, I finally managed to reproduce it using the master version of LIEF. We tend to stick to stable releases, that is why I couldn't reproduce it. Nonetheless, I believe this is still a ddisasm bug. I will look into it further.

[2020-06-27 19:06] MatthiasJReisinger commented on #2
hi :) even tough supporting other ISAs might not yet be planned, would it theoretically be feasible to extend it to ARM (also older versions, e.g. v6/v7) or would this require some fundamental adaptions? I just had a quick look at the code, but the approach per se does not seem to be architecture specific and the x64-specifics in the datalog rules already seem to be encapsulated in the `src/datalo

[2020-06-29 15:04] aeflores commented on #2
Hi @MatthiasJReisinger, you are right, the architecture-specific stuff is mostly encapsulated in `scr/datalog/x64`. This encapsulation is not perfect, but we are working to improve it. In fact, we are currently making some refactoring to facilitate incorporating other ISAs (x64 is still assumed in several places in the C++ code).

Once this refactoring is completed, we will merge https://github.co

[2020-06-29 20:14] MatthiasJReisinger commented on #2
ok, very cool and thanks for the answer! :) is there already plan when this refactoring will be at a point that the ARM support could be merged?

[2020-06-30 00:11] kwarrick commented on #2
@MatthiasJReisinger If all goes well, the refactor should actually happen pretty soon. Hopefully by the end of the week or early next week. 🤞

[2020-07-20 15:59] rjzak opened #10 "Can't compile against souffle (documentation out of date?)"
Neither the readme document nor the CMake script indicate which version of Souffle to use. I do notice that the readme document is over a year old. The current version of Souffle is 2.0.0, and trying to compile against it throws a lot of operating overloading errors: `ddisasm/src/DlOperandTable.cpp:34:76: error: ambiguous overload for ‘operator<<’ (operand types are ‘souffle::tuple’ and ‘const int

[2020-07-20 18:34] aeflores commented on #10
Hi @rjzak, you are right in that the Readme is outdated. It says Souffle 1.7.0 or higher but right now we support 1.7.0 and 1.7.1. Souffle 2.0 introduced a lot of changes in its type system and we still need to makes some changes in Ddisasm to support it.

Let me know if you have any trouble using Souffle 1.7.1.

[2020-07-20 18:45] rjzak commented on #10
I figure it out and was able to get it to compile against Souffle 1.7.1. I couldn't get CMake to find LEIF, even when using GrammaTech's fork of LEIF and making sure the FindLief.cmake file was where it should be.
Ultimately I was trying to see if adding PE32 support would be something I could pull off, and I think the answer is no.

[2020-07-20 18:45] #10 closed

[2020-07-20 18:50] rjzak opened #11 "Request for PE32 file support"
I was trying to create a PE32 parser modeled after the ELF parser, but got caught up with trying to figure out the PE32 equivalents of:

    Module->addAuxData<gtirb::schema::ElfSectionIndex>(std::move(SectionIndex));
    Module->addAuxData<gtirb::schema::ElfSectionProperties>(std::move(SectionProperties));

I'm not familiar with this project, and this is probably a feature best left to those who

[2020-07-20 18:56] aeflores commented on #10
Did you provide the LIEF path to cmake? E.g. if you did installed LIEF using `make install` in Ubuntu 18 it would the following:
[code]
See for example the CI script https://github.com/GrammaTech/ddisasm/blob/master/.ci/gitlab-ci.yml#L48

[2020-07-20 19:00] rjzak commented on #10
No, I didn't know to look for that file. I'm on Ubuntu 20.04, and figured it would find the cmake file. I had LIEF in /usr/ and /usr/local/, neither worked. I also tried to use the sample approach that is used with ehp, to find the specific file names, which seems like a better approach, but also failed.

[2020-08-04 20:17] MatthiasJReisinger commented on #2
hi again :) first of all, thx for merging the arm64 support! Even though it is not yet a feature that is part of a released version, I would be interested in how "stable" the arm support is curently supposed to be or when it is expected to reach a level of stability that is comparable to the x64 support (in case that can be estimated at the moment). I was playing with a few basic programs (e.g. si

[2020-08-10 14:03] aeflores commented on #2
Hi @MatthiasJReisinger, the ARM64 support is very preliminary (i.e. not stable at all). We are still doing some refactoring to have better modularity for different architectures. Once that is done, we will likely go back to improving ARM64 support, but it might take a while... I don't think I can give you an estimate right now.

[2020-08-15 08:11] MatthiasJReisinger commented on #2
ok, no problem, thanks for the update though! :)

[2020-08-21 20:55] ceesb opened #13 "address in binary -> address in gtirb"
I realize this is more of a question / feature request.

I'm using the gtirb produced by ddisasm to perform some rewriting. The offsets of the instructions I'm rewriting are created by another tool, and the offsets are relative to the addresses of sections in the original ELF. I couldn't find this mapping information in the gtirb file, and I noticed that offsets of CodeBlocks in the gtirb do no ma

[2020-08-24 12:39] iconmaster5326 commented on #13
Sadly, the GTIRB file only stores the virtual addresses of blocks, and not their physical locations in the ELF file. This would be a great thing to encode in aux data, however; thank you for bringing it up!

[2020-08-24 12:45] iconmaster5326 commented on #13
Although I have to add that the `.L_XXX` symbols (a) encode the virtual address in their name, not their physical one, and (b) are arbitrary identifiers that shouldn't be used to assume address. If what you want is the virtual address of blocks, you can get this information using the `getAddress` method in the C++ API and the `address` field  in the Python API.

[2020-08-24 12:53] iconmaster5326 commented on #13
To do what you want to do, I recommend getting the address of your block, then the address of the section that that block belongs to, and subtracting those two numbers. That should produce the offset of the block from the beginning of the section.

[2020-08-24 16:12] ceesb commented on #13
Thanks for the response, and sorry for the confusion, I'm looking to map the ELF's virtual addresses to the addresses in the GTIRB, I don't care about file offsets.

I'm unable to get these ELF addresses out of ByteInterval / ByteBlock / Section address fields.

To show you what I mean I attached a [python script and sample binary (+src +gtirb)](https://github.com/GrammaTech/ddisasm/files/5119006/

[2020-08-24 17:04] iconmaster5326 commented on #13
Normally, ddisasm produces sections so that they all have addresses; it is worrying to see a section without one. Is this GTIRB file straight from ddisasm? If the file has been modified, especially by adding new byte intervals without addresses, you may lose the address the section starts at.

This is because we calculate the address of sections as the address of the earliest byte interval in a se

[2020-08-24 17:15] ceesb commented on #13
I didn't modify the gtirb, it's straight out of ddisasm.

[2020-08-24 17:18] iconmaster5326 commented on #13
Looking at it a bit, what version/commit of gtirb-capstone are you using? We recently fixed an oversight where using it would clear all addresses from all byte intervals.

[2020-08-24 17:20] ceesb commented on #13
my gtirb-capstone is at 2bc8f12ece17fef75be2a66ef9f024b7881e7127

[2020-08-24 17:22] iconmaster5326 commented on #13
Ah yes, that commit is affected by the bug. If you update to the latest commit of gtirb-capstone, you should find that things have addresses again.

[2020-08-24 17:28] iconmaster5326 commented on #13
More specifically, try commit `619495a668d11e2806b7277d673d09f21abbc45a`. I know as a fact that should work.

[2020-08-24 17:35] ceesb commented on #13
Yes, `619495a668d11e2806b7277d673d09f21abbc45a` works, but tip doesn't.

[2020-08-24 17:36] iconmaster5326 commented on #13
It looks like someone reverted the fix to the bug. I am going to have to investigate. But I'm glad I could find a solution for you! I'll see about getting the fix un-reverted.

[2020-08-24 17:38] ceesb commented on #13
Indeed, thx!

[2020-08-24 18:00] #13 closed

[2020-09-25 16:44] ZhangZhuoSJTU opened #14 "[BINARY] fails reassembly"
Hi, thanks for this great work.

I am trying to use ddisasm to reassembly some my CTF programs. The file [a.out](https://github.com/GrammaTech/ddisasm/files/5284041/a.out.zip) is attached.

It is 64-bit position dependent code.

[code]

The ddisasm version is shown as follows.

[code]

When I try to disassemble it, it works well.
[code]

But when I try to reassemble it, it failed.
[code]

I know i

[2020-09-25 17:40] ZhangZhuoSJTU commented on #14
According to #9, I tried `-no-pie`. The issue looks solved.

[2020-09-25 18:37] ZhangZhuoSJTU commented on #14
Reopen due to the error raised by clang. I try to use clang to compile.
[code]

These errors seem caused by the assembly syntax different, except the following one
[code]

Then, I go checking the `a.s` file, and find the following piece of assembly code.
[code]

It looks `call 4197712` is invalid because the failure of symbolization.

Btw, it would be very appreciated if you can help me emit other

[2020-09-25 20:15] aeflores commented on #14
Ok, that looks interesting! We haven't really done reassembly with clang so far. One thing that you can try is using ATT syntax as follows:
[code]
The generated asm file produces fewer errors with clang. I got the 3 errors with scape characters in strings:
[code]
This is something that should be solved in https://github.com/GrammaTech/gtirb-pprinter but in the meantime you can just remove the `\`

[2020-09-25 20:33] aeflores commented on #14
Ok, the call that you identified is not really a symbolization error.  It is a call to the `.init` section.

The standard approach in gtirb-pprinter is to skip printing the `.init` and `.fini` sections (and others) and let the compiler add them again (together with the initialization code that calls them). That means that the portion of code that you identified becomes dead code in the rewritten b

[2020-09-25 20:36] ZhangZhuoSJTU commented on #14
Thanks!

[2020-09-25 20:36] #14 closed

[2020-09-26 14:58] mmmdzz commented on #14
I got a similar issue about `eh_frame`. The gcc complained

[code]

May I know whether it is a common issue or not? If the test binary is needed, I can attach it. But it is an obfuscated c++ program anyway.

[2020-10-01 15:33] aeflores commented on #14
This error probably means something is wrong with the `eh_frame` information. Maybe there is a bug in the CFI directives creation.

[2020-10-01 15:38] mmmdzz commented on #14
Or, maybe it is caused by C++ exception? I think the stack unwinding information is also stored in `eh_frame`. I have tried `--no-cfi-directives` option but it also failed.

[2020-10-08 20:53] ajaymas opened #15 "How to view or convert back to gtrib IR to LLVM IR"
Hello,
I have disassembled a simple `hello` binary using gtrib with the below commands.

`ddisasm hello --asm hello.s`

Also, I have generated `hello.gtrib` using the below command.

`ddisasm hello --ir hello.gtrib`

Now, I am not able to open or view `hello.gtrib`. sometimes I noticed here in the issue section there is a way to convert back to LLVM-IR or opening in some form.

Could you please he

[2020-10-09 18:13] aeflores commented on #15
Hi @ajaymas, the GTIRB representation is not directly human-readable. You can open it and manipulate it using the GTIRB API https://github.com/GrammaTech/gtirb. Here is a link to the documentation https://grammatech.github.io/gtirb/index.html and this is a tutorial on how to implement a binary transformation https://grammatech.github.io/gtirb/md_stack-stamp.html.

You can also try to load a GTIRB

[2020-10-25 13:01] OrenGitHub opened #16 "What should gtirb_DIR and gtirb_pprinter_DIR be?"
Quickest question:
What should I set `gtirb_DIR` and `gtirb_pprinter_DIR`?
I can't seem to locate neither `gtirbConfig.cmake` nor `gtirb-config.cmake`
like `cmake` is asking me to.
Thanks!

[2020-10-28 14:07] aeflores commented on #16
Hi @OrenGitHub, Did you clone and build https://github.com/grammatech/gtirb and https://github.com/grammatech/gtirb-pprinter?

[2020-11-11 18:22] ZhangZhuoSJTU opened #17 "fail to install ddisasm on Ubuntu 18.04"
Hi, I follow the README to install pre-built ddisasm on my ubuntu 18.04 machine.

[code]

I successfully installed ddisasm following the guidance.
[code]

However, when I try to executable ddisasm, the following error message shows out.
[code]

I then check the dynamic library required by ddisasm:
[code]

It seems there are two libgtirbs (`libgtirb.so.1.8.7` and `libgtirb.so.1.9.0`), among which `

[2020-11-12 14:51] eschulte commented on #17
Thanks for the heads up @ZhangZhuoSJTU!

I'm rebuilding consistent packages for ddisasm and gtirb-pprinter and I'll update/close this thread once they're published.  Re-running the steps above using these new packages should fix this problem, but please reopen this thread if the problem persists.

[2020-11-13 03:15] eschulte commented on #17
Okay, it took a while to get the whole chain of dependencies rebuilt and through CI, but the packages are all updated now and should be consistent.

Thanks again for the report and please let us know if you run into any more issues.

[2020-11-13 03:15] #17 closed

[2021-01-12 22:03] Trass3r commented on #11
I guess you need: https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#section-table-section-headers

[2021-01-13 15:54] aeflores commented on #2
As of now, ddisasm has some initial support for X86_32 ELF binaries.

[2021-01-13 15:54] #2 closed

[2021-01-13 21:10] Trass3r opened #18 "update install instructions"
There seem to be packages for `focal` but the readme is outdated.
A docker container with preinstalled ddisasm could also be useful.

[code]

[2021-02-21 13:48] ZhangZhuoSJTU opened #20 "[BINARY] fails disassembly"
Hi, I have got some binaries which is failed to be recompiled.

My ddisasm is apt-installed on Ubuntu 18.04, and the version information is:

[code]

Generally speaking, there are two types of errors.

### 1. The conflicts between the following code blocks could not be resolved

These errors occurs in boringssl, openssl-1.0.1f, and openssl-1.1.0c.

Taking boringssl as an example:

[code]

I have d

[2021-02-22 22:34] ZhangZhuoSJTU commented on #20
More information. When I compiled the google fuzzer test suite, I add following code to make a libfuzzer-based program into a normal program.

[code]

[2021-02-24 19:05] ZhangZhuoSJTU commented on #20
Hi, after additional checking, I find another failure from Google FTS. This binary does not contain hand-written assembly.

[json.tar.gz](https://github.com/GrammaTech/ddisasm/files/6038244/json.tar.gz)

[code]

By the way, if the binary with debug information can provide much help, please let me know. I am trying to find it in some old machines, but not sure whether I can make it at the end... So

[2021-02-26 17:16] junghee commented on #20
Hi ZhangZhuoSJTU,

Thank your for reporting the issue.

We are still working on the first issue about overlapping blocks. We will keep you updated when it gets fixed.

For the seg-faulting binaries, here is a quick update:

libxml2: It runs fine with our latest version of ddisasm. We haven't tracked down which commits fix the problem, but hopefully, the problem will be gone in the next release of

[2021-03-03 19:52] kwarrick commented on #11
We have just released PE32 and PE32+ support in version 1.4.0.

Please note that we currently only output MASM assembly syntax so reassembly should be done with `ML` and `ML64`.

For example,

[code]

Thanks again!

[2021-03-03 20:15] jrmuizel commented on #11
Is it possible to get updated windows binaries built? i.e. replacements for these? https://grammatech.github.io/gtirb/pkgs/windows-release/

[2021-03-04 18:06] Trass3r commented on #11
Yeah building it yourself is a painful experience.

Or http://www.terraspace.co.uk/uasm.html

[2021-03-04 18:27] kwarrick commented on #11
We are working on the first tagged release of ddisasm now! This should include Windows binary builds.

I have not used uasm yet. Very interested, thank you.

[2021-03-04 19:27] jrmuizel opened #21 "vim fails disassembly"
vim compiled with gcc-7.5.0 fails with:

[code]

This is with ddisasm 1.4 (1cbb62cb91f4a51b615e0150ebb25fc97dcef640)

I've attached the binary
[vim.zip](https://github.com/GrammaTech/ddisasm/files/6086126/vim.zip)

I ran into this while trying out ddisasm on https://github.com/pangine/disasm-benchmark

[2021-03-04 20:04] jrmuizel opened #22 "exim fails disassembly"
exim compiled with icc-19.1.1.219 fails with:

[code]

This is with ddisasm 1.4 (1cbb62c)

I've attached the binary
[exim.zip](https://github.com/GrammaTech/ddisasm/files/6086359/exim.zip)

I ran into this while trying out ddisasm on https://github.com/pangine/disasm-benchmark

[2021-03-04 20:39] jrmuizel opened #23 "d3dcompiler_47.dll fails disassembly"
[code]

This is with ddisasm 1.4 (1cbb62c)

You can find a copy of d3dcompiler_47.dll in http://ftp.mozilla.org/pub/firefox/nightly/2021/02/2021-02-26-21-45-01-mozilla-central/firefox-88.0a1.en-US.win64.zip

[2021-03-04 22:14] aeflores commented on #21
Hi @jrmuizel thanks for reporting! we will look into this and the other issues.
I would be curious to know the results of that evaluation overall if you have them available

[2021-03-05 00:15] jrmuizel commented on #21
I don't have overall results. I filed https://github.com/pangine/disasm-benchmark/issues/1 and sounds like the authors tried to get results but there were too many failures.

[2021-03-05 01:33] jrmuizel commented on #23
Here's the Ghidra disassembly for the relevant area of code:
[code]

[2021-03-05 23:14] junghee commented on #21
We were able to reproduce the failure with the commit hash of ddisasm. I used an older version of gtirb-pprinter because the related commit hash was not reported.

We confirmed that vim builds OK with the latest versions of ddisasm + gtirb-pprinter. Here are the commit hashs:

ddisasm: 1cbb62cb91f4a51b615e0150ebb25fc97dcef640

gtirb-pprinter: 370eebc7ed61eaf0a721e0bd441d67e2c8024319

[2021-03-06 03:36] jrmuizel commented on #21
I was using gtirb-pprinter: f6e382346171dc2e3a3ba16948f83cda13e1242c

[2021-03-06 14:30] jrmuizel commented on #21
I see the same thing with 370eebc7ed61eaf0a721e0bd441d67e2c8024319. Maybe the problem is the version of LIEF? I'm using LIEF-0.10.1

[2021-03-09 14:45] junghee commented on #21
I was using LIEF-0.10.0, but I don't really think it's a LIEF problem.
Did you remove your build directory and try a clean rebuild?

[2021-03-09 16:48] jrmuizel commented on #21
I still see the problem with a clean no-cache build of this docker file: https://github.com/jrmuizel/disasm-eval-disasms/blob/main/dockerfiles/Dockerfile.ddisasm2

[2021-03-15 19:29] jrmuizel commented on #11
Or perhaps [llvm-ml](https://github.com/llvm/llvm-project/blob/main/llvm/tools/llvm-ml/llvm-ml.cpp)

[2021-03-16 12:22] junghee commented on #21
I'm not sure why I was not able to reproduce it earlier, but I tried the setup in your Dockerfile from scratch, and reproduced the failure. A fix has been merged to the gtirb-pprinter master.
Hope it works on your end as well.

[2021-03-17 21:28] Trass3r commented on #11
It did make a few mistakes:

[code]
Should be `pushad`/`popad` and `fdivr ST(0),ST(0)` (D8 F8).

And there are false positives where it identified RGB data in the resource section as references:
[code]

[2021-03-18 17:35] kwarrick commented on #11
@Trass3r Would you mind opening an issue with the failing binary, if possible?

I expect a number of these syntax errors as we push on PE32, the implicit operands for `FDIV` is a known [problem]( https://git.grammatech.com/rewriting/gtirb-pprinter/-/blob/windows-support/src/gtirb_pprinter/MasmPrettyPrinter.cpp#L263-299). Seems like we haven't run into `FDIVR` yet.

[2021-03-18 19:59] Trass3r opened #24 "PE32 reassembly issues"
Following up on https://github.com/GrammaTech/ddisasm/issues/11#issuecomment-801455091.

[code]
Should be `pushad`/`popad` and `fdivr ST(0),ST(0)` (D8 F8).

And there are false positives where it identified RGB data in the resource section as references, I'm not sure if that is even possible:
[code]

Also there were issues with name mangling. I had to use `ml /link /entry:_EntryPoint` instead of `

[2021-03-19 17:46] jrmuizel commented on #21
I can still reproduce this with a fresh rebuild of https://github.com/jrmuizel/disasm-eval-disasms/blob/main/dockerfiles/Dockerfile.ddisasm2 (which has been updated to use gtirb-pprinter a974d7a43a1b51c15793a6322c75c8065f8f4d8d)

[2021-03-19 18:07] junghee commented on #21
That one seems older than my fix.
Sorry, I should have specified the hash number earlier.
The hash for the fix is 913269153e66fd133a80f92ef66ad4e2cf72ab54.

[2021-03-20 14:39] jrmuizel commented on #21
That hash doesn't exist in the in the gtirb-pprinter repository: https://github.com/GrammaTech/gtirb-pprinter/commit/913269153e66fd133a80f92ef66ad4e2cf72ab54

[2021-03-20 14:47] aeflores commented on #21
Oh, it looks like we have an issue with the updates to the public repo. I'll look into it!

[2021-03-21 00:40] jrmuizel commented on #21
That fixed it. Thanks.

[2021-03-21 00:40] #21 closed

[2021-03-22 12:14] aeflores commented on #20
Hi @ZhangZhuoSJTU, I believe `lcms` should be fixed now (since commit 53c8e6f1058a71b792f3ac8e0c5b3693c912acaa).
boringssl, openssl-1.0.1f, and openssl-1.1.0c are still work in progress.

[2021-03-22 15:38] kwarrick commented on #23
@jrmuizel Thank you for reporting this. I am looking into it!

[2021-04-01 18:52] quan-li-co opened #25 "Questions about the compilation process"
Hello~

I have a simple question about the compilation process. When I compile the ddisasm that I cloned from Github, it will spend more than an hour. And once I modified something in symbolization.dl (add an output), it will also spend more than an hour to compile... I am wondering if this is a common case?

Thanks for answering.

[2021-04-06 18:48] aeflores commented on #25
That time is longer than expected but not unreasonable. The compilation of the Datalog generated program is expensive!
We have seen very different times depending on the compiler version. The Datalog program is compiled with high optimizations (-O3) and that can take a while. Plus, there are several Datalog programs compiled, one for each architecture and file format combination (x64 ELF, x64 PE,

[2021-04-06 19:06] quan-li-co commented on #25
Thanks for your reply. That makes sense. I just used `make` to compile the tool. I will try `make -j4` next time.

[2021-04-06 23:12] #25 closed

[2021-04-07 15:20] quan-li-co commented on #25
The compilation time shortens a lot with `make -j4`. Thanks a lot for your help!

[2021-04-07 19:20] kwarrick commented on #23
@jrmuizel This failure should be fixed now.

[2021-04-07 20:22] jrmuizel commented on #23
With e9a25fd2fcef7e6814087245940c1f60702c81a7?

[2021-04-07 23:15] jrmuizel commented on #23
Looks like it.

[2021-04-07 23:15] #23 closed

[2021-04-27 07:58] qunqunqun opened #26 "Problem when building ddisasm"
I want build ddisasm.
I follow
[code]
And I can use ddisasm in command
[code]

However when I build it in cmake,  the error occur
[code]
could you tell me how to solve it since I could run ddisasm in command line (means I satisfy all requirements).

[2021-04-27 22:10] jeshan commented on #18
I've just pushed this:
https://hub.docker.com/r/jeshan/ddisasm

Let me know how it goes.
I will later see if we can get this merged to this repository.

[2021-04-27 22:12] jeshan commented on #26
I had lots of problem too and I made a docker image to solve this:
https://hub.docker.com/r/jeshan/ddisasm

Source code: https://github.com/jeshan/ddisasm-docker

Let me know how it goes.
Later, we should it to this repository.

[2021-04-27 22:23] jeshan opened #27 "What to do if seeing false positives/negatives?"
With the `--self-diagnose` arg, I'm seeing this message in my (rather big binary):

[code]

1. Should I be worried about that many errors? What should we do about it?
2. How should I ensure that I have the required relocation information with gcc ?

[2021-04-27 23:23] aeflores commented on #27
1. I am afraid self-diagnose is currently broken. It should get fixed simply by updating the version of LIEF that we use (@kwarrick). This has been in our plans for a while, but we did not get to it yet. I'll let you know once it is fixed.

    Regardless, one thing you can do is to generate assembly code with the `--debug` flag. Each false positive and false negative will be annotated with a comm

[2021-04-28 08:22] jeshan commented on #27
Thank you, @aeflores .

Please clarify:

Are you referring to the **master** branch in https://github.com/kwarrick/LIEF ? There are some other branches in the fork so that's why I'm confused: https://github.com/kwarrick/LIEF/branches/all

Understood, thanks.

I want to try a bit more first but I can say it was the qemu-x86_64 **static** (not normal) build. There are many configuration options that

[2021-04-28 20:12] kwarrick commented on #27
@jeshan

 We currently [depend](https://git.grammatech.com/rewriting/ddisasm/-/blob/e54335014ec3467c981e547b48024d4aaf4b0b47/CMakeLists.txt#L285) on LIEF version 0.10.0. The official LIEF [release](https://github.com/lief-project/LIEF/releases/tag/0.10.0).

[2021-04-28 20:37] #27 closed

[2021-04-29 13:18] eschulte commented on #18
We're working on our CI process to automatically maintain our public packages (and to do a better job of versioning) for ddisasm, gtirb, and gtirb-pprinter.  Once that is complete we're going to update the [GTIRB manual](https://grammatech.github.io/gtirb/) and the relevant READMEs.  We'll circle back here once this is complete.

[2021-05-03 12:58] eschulte commented on #18
GTIRB's CI is now automatically generating and uploading Ubuntu packages to track both versioned releases and the development HEAD.  See [https://grammatech.github.io/gtirb/#installing](https://grammatech.github.io/gtirb/#installing) for more information.

[2021-05-03 12:58] #18 closed

[2021-06-01 20:01] #11 closed

[2021-06-02 20:47] junghee commented on #22
I tried running it with the latest master (daa0ab84960925d64fcf6c5c2ddb4462a392e50f), and found it worked fine. It is highly likely that it got fixed at some point last couple months.

[2021-06-02 21:17] jrmuizel opened #29 "Dockerfile fails to build"
https://grammatech.github.io/gtirb/pkgs/xenial/libcapstone-dev_4.0.1-gt3_amd64.deb is missing.
[code]

[2021-06-03 14:27] #22 closed

[2021-06-23 20:15] expnkx opened #30 "Too many build errors"
/usr/local/include/souffle/utility/ParallelUtil.h:110:7: error: use of deleted function 'std::mutex::mutex(const std::mutex&)'
In file included from /usr/local/include/c++/12.0.0/mutex:43,
                 from /usr/local/include/souffle/SignalHandler.h:25,
                 from /usr/local/include/souffle/CompiledSouffle.h:21,
                 from /home/cqwrteur/ddisasm/src/gtirb-decoder/DatalogP

[2021-06-25 19:04] expnkx opened #31 "How to disassembly windows binary to gcc format?"
I use gcc x86_64-windows-gnu to compile an executable, linked with libstdc++-6.dll, but the GTIRB decompiled the binary as microsoft's assembly format instead of GNU's assembly format. How to generate GNU's assembly even with windows binaries?

[2021-06-29 19:02] kwarrick commented on #31
Hi @expnkx, we don't currently support GNU compatible output for Windows binaries. Also, I think "gcc x86_64-windows-gnu" refers to the MinGW toolset, which also has only limited support at this time.

If you want to reassemble Windows binaries on Linux, right now you  need a MASM compatible assembler like [UASM](https://github.com/Terraspace/UASM), and also a PE compatible linker such as LLVM's [

[2021-06-29 19:07] kwarrick commented on #30
Hi @expnkx, it appears you are missing a build dependency:

[code]

[2021-07-02 18:02] itsmattkc commented on #24
`fsubr` has the same issue. Instruction is disassembled as `fsubr st(0)` instead of `fsubr st(0), st(0)`.

[2021-07-07 14:48] eschulte commented on #30
Closing this for now, please reopen if the above doesn't fix the problem.

[2021-07-07 14:48] #30 closed

[2021-07-07 14:50] eschulte commented on #20
Closing this for now.  Please reopen if the problem persists.

[2021-07-07 14:50] #20 closed

[2021-07-11 19:10] itsmattkc commented on #24
It's worth noting that a lot of these issues appear to be exclusive to 32-bit binaries. When I try to reassemble the `ex1` example, it works perfectly with when the executable is compiled 64-bit and reassembled with `ml64`. However when it's compiled 32-bit and reassembled with `ml`, that's when errors like `error LNK2001: unresolved external symbol` appear.

Upon investigation this would make sen

[2021-07-19 20:45] kwarrick commented on #24
@Trass3r

That second warning should be fixed now, but the entry point with a single underscore is still necessary as @itsmattkc shows 32-bit and 64-bit export symbols are handled differently.

@itsmattkc

Yes, this is something I am still unhappy about, but it appears impossible to provide a symbol name in the assembly for 32-bit, which `link.exe` will resolve correctly.

We have sidestepped the

[2021-07-20 20:42] kwarrick commented on #24
`PUSHAL`, `POPAL`, `FDIVR`, and `FSUBR` should all be printed correctly now.

[2021-07-20 21:31] #24 closed

[2021-07-20 22:24] Trass3r commented on #24
What about the resource section issue?
And which commit fixed the instructions?

[2021-07-20 22:30] kwarrick commented on #24
Can you provide  sample binary for the resource section issue?

The instructions are fixed in gtirb-pprinter:

https://github.com/GrammaTech/gtirb-pprinter/commit/70ecde07a6c05836f9278ad863fccf40e5e1f8d7
https://github.com/GrammaTech/gtirb-pprinter/commit/701ed49d5844e128ee25ec38b28e87f74023a5bf

[2021-07-20 22:33] kwarrick commented on #24
The `warning LNK4216: Exported entry point __EntryPoint` problem was fixed here:
https://github.com/GrammaTech/gtirb-pprinter/commit/c6af84bc78fa955e28a2d0a8756010b8d80bd1f2

[2021-07-26 13:58] swang206 opened #32 "Question: How to perform "reduce" on the binary"
I just saw in an introduction of gtirb and ddisasm that they can perform "reduce" that remove some features in the binary, or debloat binary. How to use "reduce" and "debloating" with ddisasm???

[2021-07-26 14:00] swang206 commented on #32
https://eschulte.github.io/data/debloat-datasheet.pdf

[2021-07-27 15:59] swang206 opened #33 "Build failure. SymbolTable has no member resolve"
/usr/local/include/souffle/SymbolTable.h:40:7: error: use of deleted function 'souffle::Lock::Lock(const souffle::Lock&)'
In file included from /usr/local/include/souffle/SymbolTable.h:21,
                 from /usr/local/include/souffle/SouffleInterface.h:21,
                 from /usr/local/include/souffle/CompiledSouffle.h:22,
                 from /home/cqwrteur/ddisasm/src/gtirb-decoder/Datal

[2021-07-27 22:24] Trass3r commented on #24
I see, nice idea. But it does not work on Linux / in the docker container of course: `ERROR: Unable to find lib.exe`.

[2021-07-28 14:33] kwarrick commented on #24
Yes, that is annoying. With your suggestion of UASM though, we should be able to use `uasm` and LLVM's `lld-link` on Linux. That will let us disassemble, reassemble, and link Windows PE without any MSVC dependencies.

I'll give an update when that lands in gtirb-pprinter.

[2021-07-30 08:50] kwarrick commented on #33
Most likely, this is caused by compiling against the master branch of Souffle, which is not stable.

Ddisasm uses the latest release version of Souffle (2.0.2).

I usually build Souffle like this:
[code]

[2021-07-30 09:25] kwarrick commented on #32
Hi @swang206,

Binary transforms (i.e. "reduce")  aren't part of ddisasm proper. They are implemented independently with the GTIRB API.

You might consider it a pipeline:

[code]

You can write `[ transform ]`s to arbitrarily manipulate the GTIRB file in the API of your choice (i.e. Python, C++, CL), but there is also a higher-level "rewriting" API: [gtirb-rewriting](https://github.com/GrammaTech/

[2021-08-02 18:00] #32 closed

[2021-08-03 14:42] Trass3r commented on #24
Maybe with an .rc file like:

[code]

Just with data that looks like an actual `.text` section address, like 0x401000 or something.

[2021-08-03 14:51] kwarrick commented on #24
@Trass3r

Oh, this is clearer to me now. I overlooked the fact the original false positive you showed was in the `_RSRC` section.

Please correct me if I am wrong, but we should _never_ be symbolizing data in resource data. Right?

[2021-08-03 16:49] Trass3r commented on #24
I think so cause it's pure external data, wouldn't know how to put a reference in there.

[2021-08-04 16:14] eschulte commented on #33
I'm closing this for now.  Please re-open if kwarrick's suggestion above doesn't resolve your issue.

[2021-08-04 16:14] #33 closed

[2021-08-25 13:18] swang206 opened #34 "[BINARY] clang cannot compile those assembly, neither from gcc nor msvc program"
cons.asm:25375:13: error: unknown use of instruction mnemonic without a size suffix
            jmp $L_14001135e
            ^
cons.asm:25378:13: error: unknown use of instruction mnemonic without a size suffix
            mov R8,R15
            ^
cons.asm:25379:27: error: unexpected token in argument list
            lea RCX,QWORD PTR [RSP+72]
                          ^
cons.asm:25380:13: error:

[2021-09-01 14:24] kwarrick commented on #34
Hello,

Please provide as much of the following information as possible:

- Please attach the binary to this issue.
- What is the version of ddisasm?
- How can we reproduce?  Please paste the command line used to invoke ddisasm and clang.

[2021-09-01 14:25] swang206 commented on #34
master.

It does not work for clang

[2021-09-01 14:30] kwarrick commented on #34
You are not able to disassemble clang itself, or you are not able to reassemble a binary with clang?

[2021-09-01 14:30] swang206 commented on #34
reassemble a binary with clang

[2021-09-01 14:50] kwarrick commented on #34
PE or ELF, 32-bit or 64-bit?

[2021-09-01 14:51] swang206 commented on #34
Both PE and ELF 64 bit.

I did not try 32-bit.

[2021-09-01 14:57] kwarrick commented on #34
Currently, for Windows binaries only the MASM assembly syntax is supported by ddisasm/gtirb-pprinter. You will have to use a MASM-compatible assembler such as `ML64` or `UASM`.

For example,

[code]

[2021-09-01 15:08] swang206 commented on #34
but why Linux executable does not work with clang?

[2021-09-01 16:42] aeflores commented on #34
It is hard to reproduce the problem if we don't have access to the binary. By the look of those error messages, it could be that clang expects AT&T syntax instead of INTEL syntax, which is the default.
I would try specifying the AT&T syntax in the gtirb-pprinter and see if that works better, e.g.:
[code]
Let us know if that helps

[2021-09-01 16:48] kwarrick commented on #34
We use gcc for reassembly. For the few examples I just tried, clang works. I believe there are some subtle differences in the syntax clang supports, but gcc and clang should mostly be compatible. There are changes in the works that will allow gtirb-pprinter to target multiple assemblers, but for now clang support must be reconciled by the user.

[2021-09-02 17:58] swang206 commented on #34
hi
can you help me address this issue? I try to reassemble notepad++.exe and it cannot find symbols
https://github.com/swang206/npp-gtirb-fail

![image](https://user-images.githubusercontent.com/66803496/131893644-81fdaf21-9db5-4ad5-8cec-554059e3d1f0.png)

[2021-09-06 23:52] kwarrick commented on #34
You should be able to generate a `.LIB` file to satisfy the linker with one additional command-line argument:

[code]

This requires that `LIB.exe` be on the `PATH`, but that should already true if you can use `ML64.exe`. You will see that it generates a `COMCTL32.lib` file in the local directory. The MSVC linker will find these automatically, and you should be able to reassemble correctly.

[2021-09-07 04:36] swang206 commented on #34
I do not see the COMCTL.lib file in the local directory after running ddisasm with flag --generate-import-libs

![image](https://user-images.githubusercontent.com/66803496/132284941-e129c73a-ac73-4440-accb-d5ad77954e3f.png)

![image](https://user-images.githubusercontent.com/66803496/132284955-90124033-954b-4e08-bbba-9248bd9a8d87.png)

no comctl32.lib

[2021-09-07 04:57] kwarrick commented on #34
Oh! This is an actual bug I can fix. I've just checked and the `.LIB` files are only generated when you specify the `--asm` argument. In you screenshot you only use `--ir`. Well, I'm not sure this is a bug per se, but it is tricky. At the very least, it should be a warning.

Add `--asm npp.asm` and it will generate the `COMCTL32.lib`.

[2021-09-07 04:58] swang206 commented on #34
is that possible to generate .lib directly on Linux instead of on windows? ddisasm runs extremely slow on windows.

[2021-09-07 05:30] kwarrick commented on #34
We have code in review that will provide alternatives on Linux. Hopefully that will merge soon, but until then you can use LLVM `lld-link` as an alternative to `LIB.exe`.

For example, on Ubuntu:

[code]

Then create a simple wrapper script for `lib.exe`:

[code]

Now, `ddisasm --generate-import-libs` should work on Linux using the LLVM's lld-link.

---

Make sure to use a `RelWithDebInfo` build.

[2021-09-07 06:34] swang206 commented on #34
great. i have my lld installed

[2021-09-07 06:40] swang206 commented on #34
[npp.zip](https://github.com/GrammaTech/ddisasm/files/7119482/npp.zip)
the exe does not run at all

[2021-09-07 18:50] swang206 commented on #34
![image](https://user-images.githubusercontent.com/66803496/132395920-348a58c6-b1fc-4352-9d56-5d0b385ed952.png)
I tried notepad3. It does not work either.

[2021-09-07 21:01] swang206 commented on #34
hello. I tried 4 different windows software, none of them works.

Can you tell me a windows software that works? So I can use that for my work.

[2021-09-07 21:20] swang206 commented on #34
Even helloworld does not work

![image](https://user-images.githubusercontent.com/66803496/132412369-2f1e6df4-c5be-476e-bbce-7ea701f35fd4.png)

What's wrong here?

[2021-09-07 21:28] kwarrick commented on #34
Assuming `helloworld.asm` is the output of `ddisasm`, you will have to use `/entry:__EntryPoint`. By default, MSVC will statically link the C runtime, which means `main` is most likely not actually the entry point of the PE you are disassembling. For this reason, ddisasm actually creates the `__EntryPoint` label for you.

[2021-09-07 21:30] swang206 commented on #34
what if i am using /MD??

[2021-09-07 21:38] kwarrick commented on #34
You can still use `__EntryPoint`, or you can insert the following line into `helloworld.asm`so `/entry:main` will work:

[code]

[2021-09-07 21:41] swang206 commented on #34
how to deal with those syntax errors or conflicts etc??

[2021-09-07 21:53] kwarrick commented on #34
From the screenshot of `notepad3.asm`? Those are real ddisasm disassembly errors. I will take a look.

[2021-09-10 15:51] swang206 commented on #34
Any guideline on how to compile gtirb, targeting windows. Do you use cross-compilation?

[2021-09-10 18:16] StarGazerM opened #35 "casting from number to unsigned can cause in x86_32 mode have 64bit size offset"
Hi:
    When I am reading souffle code in *src/datalog/value_analysis.dl*.

[code]

 I found in line 123, a variable has type `number` is casted to `address(unsigned)`.  ddisasm require enable  64bit domain when compiling souffle, so this casting will always make  Offset_addr become a u64 address even when handling 32bit binary. For example, `-1` will be converted into `18446744073709551615`, whil

[2021-09-10 19:59] aeflores commented on #35
Hi Yihao, I think you might be right. In this case, we should restrict the rule to only positive offsets. I'll make a fix.

[2021-09-11 03:21] swang206 commented on #34
hi.

There are some issues with the assembly for ml64.

1. ml64 does not support int1, int3, ud1 instructions. do not know whether they can be replaced with ud2.
2. rcl BYTE PTR [RSI+81949] are not legal instructions.

I think generating gnu assembly is still useful even for windows (PE) executable since it does not have so many disassembly issues like microsoft's ones.

[2021-09-16 18:33] ZhangZhuoSJTU opened #36 "[Question] How to get the analyzed instruction boundaries from Ddisasm"
Hi,

Thanks for your great efforts of bringing datalog disassembly to the community.

I am trying to make ddisasm a disassembly backend of my own [project](https://github.com/ZhangZhuoSJTU/StochFuzz), where the instruction boundaries of the original ELF are needed (i.e., the disassembly result). I am wondering whether ddisasm can directly output the disassembly results (like what ghidra/IDA Pro do

[2021-09-17 10:06] tearosccebe commented on #34
how does ddisasm work with windows executable with resource file?

[2021-09-17 13:51] kwarrick commented on #34
I agree. It is on my list.

We actually just merged changes last week to improve this. In short, you can now pass the `--generate-resources` argument to ddisasm to create a `.RES` file in your local directory, which can be passed to the linker.

See `examples/ex_rsrc` for a simple test:

[code]

[2021-09-17 20:49] aeflores commented on #36
If you want assembly listings, ddisasm will output those with the option `--asm`, see `ddisasm --help`.

If you want code boundaries, it would be relatively simple to obtain the boundaries of all basic code blocks using the GTIRB api https://github.com/GrammaTech/gtirb e.g.:
[code]
where ex.gtirb is the gtirb file generated by ddisasm.

If you want individual instruction boundaries, you can use ht

[2021-09-17 20:52] ZhangZhuoSJTU commented on #36
@aeflores Thanks! It looks great! Appreciate your prompt reply and kind help.

[2021-09-17 20:52] #36 closed

[2021-09-18 02:46] swang206 commented on #34
Hi kwarrick. I try to disassemble 7zip. It works but the windows does not pop up at all. Why?
[7zip_2.zip](https://github.com/GrammaTech/ddisasm/files/7189078/7zip_2.zip)

Here is the IR file, assembly, and exectuables.

[2021-09-19 18:58] kwarrick commented on #34
After looking at the assembly output from `Notepad3.exe`, I have determined that is this a binary that has had the `.rdata` section merged with the `.text` section.

I am not entirely sure of the motivation, but it appears that a lot PE32 binaries (32-bit) have merged data and code sections.The MSVC compiler provides an option to do this:

[code]
When you look at the beginning of the `.text` secti

[2021-09-21 16:31] aeflores commented on #35
this is fixed now https://github.com/GrammaTech/ddisasm/commit/a51fb7b8f43b9d4522901d7774a49e3bbb433344

[2021-09-21 16:31] #35 closed

[2021-10-18 20:38] BBge opened #37 "How to analyze a simple .o file?"
Hi, I want to use ddisasm to analyze one simple .o file, but it shows that the file could not be disassembled.
I am wondering how to solve this issue?
Thanks!
![image](https://user-images.githubusercontent.com/18453645/137802461-52e7d410-115f-4b7e-afda-d6fb1390b0a3.png)

[2021-10-29 21:16] aeflores commented on #37
Hi @BBge, currently Ddisasm cannot disassemble .o object files correctly. This is due to a few differences between executables and object files, the main reason being that sections in object files are not allocated to specific virtual addresses.

However, this is a capability that we are working on, I will let you know once object files are supported.

[2021-11-08 03:52] BBge opened #38 "How to locate the instruction address with the address written in facts files?"
For instance, one fact from cfg_edge.facts is: 4248448	4273824	false	false	call.
According to the declaration of cfg_edge(src:address,dest:address,conditional:symbol,indirect:symbol,type:symbol), 4248448 is the source address and 4273824 is the destination address.
But I cannot find the corresponding address in the assembly code.
Could you please give some suggestions about how to find the corresp

[2021-12-23 14:26] ucasqsl opened #39 "Disassemble becomes slower with more cores."
I tried to disassemble a big binary file. Just outputting the assembly took me more than half an hour on a single core; when I wanted to disassemble it with a debug-dir, even with 96 cores, it runs more than two hours and seems not going to stop very soon. What is the right way to get the function boundaries? Is it slow because of the debug-dir option or the multi-thread setting?
![image](https://

[2021-12-23 14:34] ucasqsl commented on #39
Well, it stopped at about 2h10, strange...

[2021-12-23 14:34] #39 closed

[2021-12-27 14:34] aeflores commented on #39
Ddisasm's parallelism takes advantage of the parallel data structures defined by souffle. In our experience, the performance of using a few cores tends to be higher than a single core, but if you increase the core count too much, you will get the opposite effect. This is probably due to increasing synchronization overhead. In other words, you might get the best performance by using 4-8 cores.

The

[2021-12-27 14:35] aeflores commented on #37
Hi @BBge , Ddisasm can now disassemble object files.

[2021-12-27 14:35] #37 closed

[2021-12-27 14:41] aeflores commented on #38
Sorry for the late reply, the first thing I would suggest is to generate the assembly file with the debug option, e.g. `ddisasm binary --debug --asm binary_listing.s`. That will print addresses for all locations and print all the code in the binary without skipping functions defined by the compiler (the default printing policy will skip some parts of the binary that the compiler adds).
Once you ha

[2021-12-28 11:58] ucasqsl commented on #39
Thanks for your detailed explanation.

[2022-01-15 02:39] rjzak opened #40 "Ubuntu packages aren't versioned properly"
Using the depository at https://download.grammatech.com/gtirb/files/apt-repo, the packages updates don't trigger the removal of the old packages, causing conflicts where different versions of ddisasm, gtirb, and GrammaTech's `libcapstone-dev-4.0.2-gt?` have the same file paths. To be able to install the newer packages, I had to first uninstall the old ones, then select the new ones.

OS: Ubuntu 20

[2022-01-18 19:20] bfairservice-gt commented on #40
@rjzak Was this with the stable or unstable component of the repository?  Also, apologies, but could you describe exactly what you tried to do?  You tried to `apt-get upgrade ddisasm`?

[2022-01-18 19:33] rjzak commented on #40
stable, and I tried `sudo apt-get upgrade`

[2022-01-19 12:04] bfairservice-gt commented on #40
I'm sorry to say that I don't think we'll be able to fix this.  The tool we use to manage our APT repo is called `reprepro`, and  that tool doesn't allow you to store multiple different versions of a package in the repository, which I think is necessary to get `apt-get upgrade` working.

[2022-01-19 15:53] rjzak commented on #40
I think the issue is that something libgtirb is a metapackage for libgtirb-1.2.3. But if the old version is installed, it's not removed. So gtirb-1.2.3 has the same file paths as gtirb-1.2.2, so dpkg gets upset. The way to fix would be to have libgtirb point to the new package, but have the libgtirb-1.2.3 conflict with the old versions, so dpkg knows to uninstall it first. Alternatively, install g

[2022-01-19 15:57] bfairservice-gt commented on #40
Ah, I see.  Okay, that makes sense, thank you for explaining.  This is something we could do eventually.

[2022-01-24 22:19] miksh opened #41 "[x86] fails Reassembly"
I am trying to reassemble x86 binary with latest ddisasm (grammatech/ddisasm:1.5.2).
However, I could not recompile the reassembled code since ddisasm does not create main symbol.

I reassembled a toy program (hello.c) as follows.
[code]

I got the following errors.
[code]

I hope ddisasm fixes this bug soon.

[2022-01-26 06:14] kwarrick commented on #41
Looks like PIE code loads the main address from GOT.

[code]

Should be an easy fix.

[2022-01-27 18:53] kwarrick commented on #41
Fixed in dfdf8adbf42c1e85527aabafacf8cf8e389101c8.

@miksh Thanks for reporting this! We should find `main` now for stripped PIE x86 binaries.

[2022-01-27 19:28] #41 closed

[2022-01-28 11:26] miksh commented on #41
Thank you. :)

[2022-02-10 06:54] ucasqsl opened #42 "Question: What's the best practice to write analysis based on relations generated by ddisasm?"
I'm trying to write some analysis with datalog based on ddisasm, but it's not convenient to reuse the existing results when implementing a pass. Should I write some datalog program and include it from `main.dl` or are there any recommended ways?

[2022-02-14 19:25] #42 closed

[2022-02-16 20:50] eschulte commented on #38
I'm closing this as I believe the question has been answered, but please don't hesitate to reopen if any further followup would be useful.

[2022-02-16 20:50] #38 closed

[2022-02-20 03:56] SaiVK opened #43 "Does ddisasm work for Risc-V binaries?"
Hello Everyone
   Can ddisasm be applied to Risc-V binaries to generate relocatable-assembly code and perform CFG analysis etc...?

Thanking you
Sai

[2022-02-21 19:44] eschulte commented on #43
We do not have any support for Risc-V binaries yet.

But we are open to contributions and Capstone does support Risc-V so the external dependency for Risc-V is satisfied.

[2022-02-22 00:21] SaiVK commented on #43
Hello @eschulte
   Is there any docs or any pointers to extend ddisasm? Also, does GTIRB support Risc-V backend?

Thanking you
Sai

[2022-02-22 13:45] eschulte commented on #43
The changes on the GTIRB side should be minimal, basically just adding RISC-V to the ISA enum in our protobuf module definition and to the corresponding ISA enums in our Python, Java, and Common Lisp APIs.  That part should be trivial.

On the DDisasm side I'd look under `src/datalog/arch` and `src/gtirb-decoder/arch` and then mimic what you see for another ISA, e.g. arm64.  We try to keep the ddi

[2022-02-23 16:52] SaiVK commented on #43
Thank you @eschulte. I will probably start working on some small binary rewriting examples w.r.t x86 backend to get accustomed to ddisasm. And then try looking into RiscV backend.

-Sai

[2022-02-23 17:58] aeflores commented on #43
@SaiVK you will probably want to extend gtirb-pprinter (https://github.com/grammatech/gtirb-pprinter) as well, so it can print RISC-V gtirb files. Similarly to ddisasm, you might want to look at how other ISAs are implemented there, such as ARM64 https://github.com/GrammaTech/gtirb-pprinter/blob/master/src/gtirb_pprinter/Arm64PrettyPrinter.cpp to get an idea of what is needed.

[2022-02-24 07:36] SaiVK commented on #43
Thanks, @aeflores for the pointers. I will look into it.

-Sai

[2022-02-26 02:18] cyanpencil opened #44 "Dockerfile fails to build for arm64"
Hello,

Thank you for your work on this project, and for sharing it with the community.

The dockerfile fails to build on the aarch64 architecture, due to some wrong paths and outdated libraries.
I am pasting here a modified dockerfile that works only for aarch64; hopefully if it is useful for you guys.

[dockerfile_aarch64.tar.gz](https://github.com/GrammaTech/ddisasm/files/8145700/dockerfile_aar

[2022-03-04 16:36] SaiVK commented on #15
Hello @aeflores, the  [ https://grammatech.github.io/gtirb/md_stack-stamp.html](https://grammatech.github.io/gtirb/md_stack-stamp.html) is broken. Can you share the correct link?

Thanking you
Sai

[2022-03-08 16:00] aeflores commented on #42
Hi @ucasqsl, I see you started adding code as a pass in the `passes` directory. This is certainly a feasible approach. However, we are currently working on an alternative way to allow users to leverage existing results of ddisasm in a way that is decoupled from the main ddisasm code.

Currently, you can run ddisasm with `--with-souffle-relations`, which will store all the output relations of the s

[2022-03-09 01:01] ucasqsl commented on #42
Thanks, this info is helpful, if I've ever read that option more closely, I think I'd use it. Looking forward to the updates.

[2022-03-14 00:14] YOURLEGEND opened #45 "Any support for AT&T？"
The assembly file generated by ddisasm are in Intel. Is there any options to generate AT&T assembly files which can be (re)assembled back by GCC?

[2022-03-14 11:50] eschulte commented on #15
https://grammatech.github.io/gtirb/md_stack_stamp.html (underscore not hyphen) thanks for the heads up, I'll fix the broken link.

[2022-03-14 12:10] eschulte commented on #45
Yes ddisasm supports AT&T syntax output.  DDisasm actually uses `gtirb-pprinter` to print assembly.  You can first generate a GTIRB file and then generate an AT&T assembly file as follows.
[code]

[2022-03-14 12:10] #45 closed

[2022-04-07 06:43] ucasqsl opened #46 "Global struct array splitted into two parts"
[code]
For the above C code, ddisasm will split the global struct array into two datablocks, one is of size 4 and the other is of size 76. I can understand why it results in such behavior, but can this be improved?
[code]

[2022-04-07 20:28] adamjseitz commented on #46
The existing data access pattern propagation code already does some recognition of this kind of "synchronized" data accesses to know that it is safe to continue propagating the data access, instead of considering them a collision:

https://github.com/GrammaTech/ddisasm/blob/master/src/datalog/data_access_analysis.dl#L331

To implement this, I think you'd need to break that recognition out into an

[2022-04-07 20:36] adamjseitz commented on #46
It seems like the best we could ask for in the assembly output would be to recognize this pattern and generate:

[code]

The existing data access pattern propagation code already does some recognition of this kind of "synchronized" data accesses to know that it is safe to continue propagating the data access, instead of considering them a collision:

https://github.com/GrammaTech/ddisasm/blob/mast

[2022-04-08 04:41] ucasqsl commented on #46
Thanks for telling me how to do this! Tried to achieve it according to your suggestions, but changed `moved_label` instead of `moved_data_label` since those addresses appear in the operand.

[2022-04-11 01:54] ucasqsl opened #48 "Ambiguity in the result of `symbolic_operand`"
Some `symbolic_operand` will be marked as both `code` and `data`. This can be observed in almost every test case. Is there any reason for this ambiguity?

[2022-04-21 13:56] adamjseitz commented on #48
This seems like a bug to me.

Really, I'm not sure why we track `Type` as part of the `symbolic_operand` relation at all. Most consumers of `symbolic_operand` ignore it, and other consumers should be able to trivially check `code(Dest)` or `!code(Dest)`.

[2022-05-02 12:40] #46 closed

[2022-05-24 18:19] StarGazerM opened #49 "GTIRB IR file generated GTIRB IR file can't be printed in gtirb-pprint"
Hi :
   I am trying to print the  gtirb file generated by ddisasm to asm file, it used to work well but now always printed as blank after I both upgrade ddisasm and pprinter. I also tried `--asm` flag, asm file is printed normally
   my ddisasm version is  1.5.3 (UNKNOWN 2022-04-28)
   my gtirb-pprinter version is 1.8.3 (UNKNOWN 2022-04-27)

  the  generated gtirb file is here
   https://drive.goo

[2022-05-24 21:25] adamjseitz commented on #49
We've seen this internally as well where ddisasm and gtirb-pprinter versions were out of sync due to a recent breaking change. It looks like your builds are from the end of April, so they aren't the absolute latest.

Are you building from source? If so, can you try rebuilding/reinstalling both ddisasm (from main branch) and gtirb-pprinter (from master branch)? If not from source, how did you insta

[2022-07-07 08:01] Trass3r opened #51 "Remove .ilk files from prebuilt binaries package"
The ddisasm package from https://download.grammatech.com/gtirb/files/windows-release/ contains unnecessary huge files like ddisasm.ilk and test*.ilk. Removing them should save you some bandwidth.

[2022-07-07 09:00] Trass3r opened #50 "dll exporting the same function it imports"
Did a quick test on a proxy dll, it struggled a bit with the import and export having the same name and produced:
[code]
And when fixing that and rebuilding the dll the export is
[code]

ddisasm 1.5.4 (7026bf2b 2022-07-07)
invoked like
[code]

[2022-07-07 15:30] Trass3r opened #52 "[?] outline functions in the disassembly"
Yet in the resulting (edit: MASM) disassembly most functions are simple labels, indistinguishable from function-internal block labels.
Even an exported function is just an empty `PROC EXPORT` `ENDP` block in front of the function.
Is there a way to improve this or is it simply not implemented?

Also, are non-trivial differences in the assembly to be expected?
When comparing the original executable

[2022-07-15 19:54] aeflores commented on #50
Interesting, the `_disambig_` is added by the pretty printer to avoid having multiple symbols with the same name. It sounds we should be making an exception for the case where one of the symbols is imported, and the other is locally defined.

We will address this ASAP.

[2022-07-15 22:22] Trass3r commented on #52
Ah I already suspected something like this. +1

Ok thanks good to know.
Not sure what the best way to compare would be so I reassembled the file and compared the objdump disassembly with TortoiseMerge. It allows you to set up regex filters to ignore hex numbers (`[0-9a-fA-F]+`) so you mostly get the actual differences.

I just noticed that the first big difference is actually a jump table, so the

[2022-07-16 10:24] Trass3r commented on #52
Ok seems like alignment is fine, just that msvc link inserts a bunch of CC bytes at the start of .text for whatever reason.
Using lld-link fixes that but the offsets will still get out of sync by different encodings being used for some instructions.
Regarding the jump tables, maybe they can be annotated somehow to mark them as data, fwiw.
[code]

[2022-09-04 08:28] peicwang opened #53 "How to get instruction boundaries for binaries compiled by icc ?"
I'm curious about how to get the ground truth for binaries compiled by icc, specifically, how to correctly distinguish the jump table from the code section?

[2022-10-01 05:56] witbring opened #54 "Several reassembly error cases on Ddisasm"
When I tested Ddisasm v1.5.3 (docker image digests a803c9, Apr. 2022) for my research, I found several interesting bug cases. 
 
First, I observe that Ddisasm incorrectly symbolize jump table. As an example, given the jump table entry ‘.long .L4895-.L4896’ found in [addr2line.tar.gz](https://github.com/GrammaTech/ddisasm/files/9689640/addr2line.tar.gz) of Binutils, Ddisasm recognized the value as

[2022-10-03 13:19] aeflores commented on #53
Hi @peicwang, sorry for the late reply. Just to clarify, you are asking about getting the ground truth, not what ddisasm considers to be the case, right?

This is something we haven't done for ICC binaries. We assessed the quality of our disassembly by checking the functionality of the rewritten binary. However, other people have extracted that kind of information, e.g. https://arxiv.org/abs/2012.

[2022-10-03 15:01] aeflores commented on #54
Hi @witbring. Thanks for the report!

## issue 54.1: addr2line

The first issue, jump table in  `addr2line` seems to be solved in the current master fa15bff2748fc5c2daccd7380fe852e2c2c5d90f
[code]
I would suggest trying the latest version.

## issue 54.2: true

This seems to cause a different problem in the current ddisasm version, I will investigate further.

## issue 54.3: nm_new

There seems to

[2022-10-04 04:57] witbring commented on #54
Thank you for your reply.

I checked the uploaded files but there are no problem to unpack the tar files.
Thus, I compress them with a different format, just in case.
Also, I upload an assembly file you asked.
I hope it will help.

### issue 54.3: nm_new
[nm_new.zip](https://github.com/GrammaTech/ddisasm/files/9702846/nm_new.zip)

### issue 54.4: date
[parse-datetime.s.txt](https://github.com/Gram

[2022-10-05 02:15] aeflores commented on #54
## issue 54.3: nm_new

For `nm_new`, I can successfully untar or unzip, but the file inside is only 29 bytes and does not seem to have a binary format.

## issue 54.4: date

Thanks, this is useful. I'll let you know once a fix is in.

## issue 54.5: 416.gamess

This also seems to work fine on the current main branch fa15bff2748fc5c2daccd7380fe852e2c2c5d90f
[code]

[2022-10-05 06:17] witbring commented on #54
Sorry, I re-upload nm_new.
[nm-new.zip](https://github.com/GrammaTech/ddisasm/files/9713185/nm-new.zip)

[2022-10-05 14:49] aeflores commented on #54
Hi @witbring, thanks!
I can confirm that `nm_new` is still an issue. We will work on it.

[2022-10-06 17:53] aeflores commented on #54
Alright, **issue 54.3: nm_new** should be solved by 10d66dab9eb85932e63615f0affa6ddf134bee94

[2022-10-13 14:35] adamjseitz commented on #54
Hi @witbring, I am looking at resolving the remaining issues.

I think I have a fix for the `date` binary, but I am trying to generate some additional smaller examples, but I am having trouble getting a compiler to produce similar code to that assembly output.

Can you provide any information about your build environment and how you build coreutils to generate this code? I believe from the artifac

[2022-10-15 13:33] witbring commented on #54
Hi @adamjseitz,

I'm grade to hear that you fixed the error.
I compiled the `date` binary with `-O1 -pie -fPIE -m32` options.
Also, you can find my build environment and other configurations from  [config.log](https://github.com/GrammaTech/ddisasm/files/9792163/config.log).
I hope it helps your job.

Thank you.

[2022-11-02 22:10] StarGazerM commented on #50
Hi, does this issue been solved now? I tried disassemble/reassemble Python windows today, seems when disasasembling `python310.dll` I saw similar probelm.

[2022-11-03 19:54] StarGazerM opened #55 "[BINARY] fails disassembly MSVC dll"
I am trying to reassemble windows dll using  ddisasm. I am testing with a random repository on github https://github.com/RohitKumarPattanayak/Stack_CG_project

It's compiled with visual studio 2022. and binary is here (freeglut.dll) [Debug.zip](https://github.com/GrammaTech/ddisasm/files/9932495/Debug.zip)

Disassemble command:
[code]
Reassembled with:
[code]
but after I replaced  original dll wit

[2022-11-04 19:35] aeflores commented on #50
It is not solved yet, but I am looking into it now.

[2022-11-07 14:32] aeflores commented on #50
Hi @Trass3r would you have the example that you were trying available? That would help me figure out the best approach.

@StarGazerM I am not seeing this issue in `python310.dll`, which import/export  symbol gets the `_disambig_` suffix? Can you share the specific .dll where that happens?

[2022-11-07 18:03] Trass3r commented on #50
I guess it can be replicated by something like https://godbolt.org/z/bzdrbvdra
[code]